<!DOCTYPE html>
<html>
  <head>
    <title>{{camelU settings.Application}}</title>

    <%= render 'layouts/application_header' %>

  </head>

  <body>
    <%= yield %>
    
    <%= render 'layouts/application_footer' %>
  </body>
</html>
