{{#*inline "fields"}}
{{#each entity.columns}}
<dt class = "col-sm-2">
  @Html.DisplayNameFor(model => model.{{camel ./name}})
</dt>
<dd class = "col-sm-10">
  @Html.DisplayFor(model => model.{{camel ./name}})
</dd>
{{/each}}
{{~/inline}}
@model {{project.application_namespace}}.Data.{{camel entity.model_name}}

@{
    ViewData["Title"] = "Delete {{camel entity.model_name}}";
}

<h3>Are you sure you want to delete this?</h3>
<div>
  <h4>{{camel entity.model_name}}</h4>
  <hr />
  <dl class="row">
      {{> fields}}
  </dl>
  
  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
  </form>
</div>
