@model {{project.application_namespace}}.Data.{{camel entity.model_name}}

@{
    ViewData["Title"] = "Edit {{camel entity.model_name}}";
}

<h4>{{camel entity.model_name}}</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="_Fields" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
